.button-default {
  border: 2px solid #F2A213;
  background-color: #F2A213;
  border-radius: 100px;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 1rem 1.75rem;
}

.google-sing-in{
  background-color: #132df2;
  border: 2px solid #132df2;
}

.inverted {
  color: #F2A213;
  background-color: #FFF;
  border: 2px solid #F2A213;
}