body {
   width: 100%;
   margin: 0 auto;
   font-family: "DM Sans", sans-serif;
   position: relative;
}

.swiper-wrapper {
   height: 420px!important;
}

.swiper-pagination-bullet-active {
   background-color: #000000!important;
   border: 2px solid #000000 !important;
}
.swiper-pagination-bullet {
   border: 2px solid #000000 !important;
   width: 10px!important;
   height: 10px!important;
}